* {
    margin: 0;
    padding: 0;
}

header {
    background: #2e86de;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;;
    height: 50px;
}

.brand {
    width: 20%;
    margin: 0 auto;
    display: flex;
    font-family: 'Righteous', cursive
}

h1 {
    margin: 0 auto;
}

.nav {
    width: 80%;
    display: flex;
    text-align: center;
}

.nav ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav ul li {
    margin: 0 auto;
	font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}